/**************************** 
        CLASSI RESET    
*****************************/
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/**************************** 
      LAYOUT   
*****************************/
/* .debug {
  border: 2px dotted black;
  border-style: inset;
} */

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 0 1rem;
}
/**************************** 
      SECTION    
*****************************/

/* HEADER */
#header {
  background-color: #0084fd;
  min-height: 50px;
}
#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.menu-list {
  display: flex;
}
.menu {
  display: none;
}
.menu-list > li {
  list-style: none;
  margin: 0 10px;
  color: white;
  display: flex;
  align-items: center;
}
#menu-button {
  color: black;
  background-color: white;
  border-radius: 25px;
  padding: 5px 10px;
}
.menu-bars {
  font-size: 2rem;
}

/* SEZIONE INTRO */
#intro {
  /* margin: 80px ; */
}

#intro .card {
  background-color: #b5ddff;

  flex-direction: column;
  display: flex;
  align-items: center;
  text-align: center;

  border-radius: 20px;
  padding-bottom: 0;
}
.row {
  margin: 25px 0;
}

.col {
  padding: 20px 20px;
}

#apple {
  background-color: #0084fd;
  border-radius: 5px;
  color: white;
  padding: 5px 35px;
  margin: 0 5px;
}
.apple-logo {
  margin-right: 10px;
}
#phone {
  width: 100%;
}
.card > h2 {
  color: #0084fd;
}
/**************************** 
       RESPONSIVE 
*****************************/

/* TABLET */
@media screen and (min-width: 768px) {
  #intro .row {
    display: flex;
    flex-wrap: wrap;
  }
  #intro .col {
    width: calc(100% / 3 - 40px);
  }
  #intro .col:first-child {
    width: calc(100% / 3 * 2 - 40px);
  }
}

/* DESTOP */
@media screen and (min-width: 992px) {
  .menu {
    display: block;
  }
  .menu-bars {
    display: none;
  }
}
