/**************************** 
        CLASSI RESET    
*****************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 50%;
}

/**************************** 
      LAYOUT   
*****************************/
/* .debug {
  border: 2px dotted black;
  border-style: inset;
} */

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 0 1rem;
}
/**************************** 
      SECTION    
*****************************/

/* HEADER */
#header {
  background-color: #0084fd;
  min-height: 50px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}
#header + * {
  margin-top: 100px;
}
#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-list {
  display: flex;
}
.menu {
  display: none;
}
.menu-list > li {
  list-style: none;
  margin: 0 10px;
  color: white;
  display: flex;
  align-items: center;
}
#menu-button {
  color: black;
  background-color: white;
  border-radius: 25px;
  padding: 5px 10px;
}
.menu-bars {
  font-size: 2rem;
}

/* SEZIONE INTRO */

#intro .card {
  background-color: #b5ddff;

  flex-direction: column;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1rem;
  border-radius: 20px;
  padding-bottom: 0;
}
#intro .card:first-child {
  margin-top: 15px;
  display: block;
}
#intro .card > * {
  margin: 25px 0;
}
#intro .card > i {
  font-size: 10rem;
  color: #0084fd;
}
#intro .card > p {
  line-height: 50px;
}
.row {
  margin-left: -1rem;
  margin-right: -1rem;
}

#intro .col {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}

#apple {
  background-color: #0084fd;
  border-radius: 5px;
  color: white;
  padding: 5px 35px;
  margin: 0 5px;
  border: none;
}
.apple-logo {
  margin-right: 10px;
}
#phone {
  width: 100%;
}
#intro .card > h2 {
  color: #0084fd;
}

/* SEZIONE STRATEGIC */
#strategic {
  background-color: #9792e4;
}
#strategic .container {
  display: flex;

  text-align: center;
  padding: 1rem;
}
.col-1 {
  padding: 50px 25px;
  color: white;
}
.col-1 > h2 {
  margin-bottom: 55px;
}

.col-2 {
  background-color: white;
  border-radius: 20px;
  padding: 50px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#arrow {
  background-color: #9792e4;
  border-radius: 50%;
  padding: 8px 10px;
  display: inline-block;
  text-align: center;
}
/* SEZIONE TESTIMONIALS */

#testimonials .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
}
.card-profile {
  background-color: #9792e4;
  border-radius: 20px;
  padding: 50px;
  color: white;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 25px 0;
}
.card-profile > * {
  margin: 25px 0;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.photo-container {
  overflow: hidden;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  align-items: center;
}

/* SEZIONE BENEFITS */

#benefits .container {
  background-color: #9792e4;
  color: white;
  text-align: center;
  margin: auto;
}
#benefits .row {
  margin: -1rem;
}
#benefits h1,
h4 {
  color: #9792e4;
  font-size: 1.5rem;
}
#benefits .card {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1rem;
  text-align: left;

  border-radius: 20px;
}
#benefits .card > * {
  margin: 25px 0;
}
#benefits .card > h1 {
  font-size: 3rem;
}
#benefits .card {
  margin: 30px 0;
}
#benefits .col {
  padding: 1rem;
}
.more-button {
  border-radius: 15px;
  color: white;
  padding: 5px 35px;
  margin: 0 5px;
  border: none;
  background-color: #9792e4;
}
/* SEZIONE ABOUT */
#about .col {
  padding: 1rem;
  width: calc(100% / 2);
  margin: 50px 0;
  flex-direction: column;
}
#about .col h1 {
  font-size: 3rem;
  color: #9792e4;
}

/**************************** 
       RESPONSIVE 
*****************************/

/* TABLET */
@media screen and (min-width: 768px) {
  #intro .row {
    display: flex;
    flex-wrap: wrap;
  }
  #intro .col {
    width: calc(100% / 3);
  }
  #intro .col:first-child {
    width: calc(100% / 3 * 2);
  }
  #benefits .row {
    display: flex;
    flex-wrap: wrap;
  }
  #benefits .col {
    width: calc(100% / 2);
  }
}

/* DESTOP */
@media screen and (min-width: 992px) {
  #intro .col:first-child {
    width: calc(100% / 3 * 2);
  }
  .col:first-child .card {
    display: flex;
  }
  .menu {
    display: block;
  }
  .menu-bars {
    display: none;
  }
  .col-1,
  .col-2 {
    width: 50%;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .card-profile {
    flex-direction: row;
  }
  #benefits .row {
    display: flex;
    flex-wrap: wrap;
  }
  #benefits .col {
    width: calc(100% / 3);
  }
}
